/node_modules
/public/hot
# Ignorar imagens PNG, JPG e GIF
/public/*.png  
/public/*.jpg  
/public/*.jpeg  
/public/*.gif  
/public/*.bmp  
/public/*.svg
# Ignorar arquivos PDF
/public/reports/*.pdf
/projetorenascer
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.docker
